

<app-list-view [title]="'Lista dokumentów XML'">

  <form class="mb-3" (ngSubmit)="onXPathSearch()">
    <input
      type="text"
      [(ngModel)]="xpathQuery"
      name="xpathQuery"
      placeholder="Wpisz XPath, np. //element[@atrybut='wartość']"
      class="form-control d-inline-block w-auto mr-2"
      required
    />
    <button type="submit" class="btn btn-secondary">Szukaj XPath</button>
  </form>

  <app-data-grid
    [changedColumnHeaderNames]="changedColumnHeaderNames"
    [data]="xmlDocuments"
    [displayedColumns]="displayedColumns"
    [rowButtonAction]="rowButtonAction"
  ></app-data-grid>
</app-list-view>