<app-loading></app-loading>
@if(data$ | async) {}

<ng-container *ngIf="visibleData as data">
  <div class="table-wrapper">
    <div class="table-container">
      <table mat-table [dataSource]="data" multiTemplateDataRows class="mat-elevation-z8">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-radio-group>
              <mat-radio-button [value]="row" [checked]="selectedRow === row">
              </mat-radio-button>
            </mat-radio-group>
          </td>
        </ng-container>

        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>
            {{ changedColumnHeaderNames[column] ? changedColumnHeaderNames[column] : column }}
          </th>
          <td mat-cell *matCellDef="let element">
              @switch(displayedColumnSettings[column]){
                @case(ColumnTypeEnum.BOOLEAN){
                  <span [innerHTML]="(element[column] === true || element[column] === 'true') ? 'Tak' : 'Nie'"></span>
                }
                @case(ColumnTypeEnum.DATE){
                  <span>{{ formatDate(element[column]) }}</span>
                }
                @default {
                  <span>{{ element[column] }}</span>
                }
              }
          </td>
          
          
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [class.selected]="row === selectedRow"
          (click)="rowClicked(row)">
        </tr>

        <tr class="mat-row mat-mdc-row" *matNoDataRow>
          <td class="mat-cell center" [attr.colspan]="columnsToDisplay.length">
            {{ 'Brak danych' }}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row-button-actions" *ngIf="data.length">
    <ng-container *ngFor="let action of rowButtonAction">
      <div [ngClass]="action.color">
        <button mat-button color="primary" (click)="action?.callback(selectedRow)"
          [disabled]="!rowButtonActionAvailability(action)">
          {{action.name}}
        </button>
      </div>
    </ng-container>
  </div>
</ng-container>